.App {
  text-align: center;
}

h1 {
  font-family: "Bigelow Rules";
  font-size: 5em;
  color: #55e955;
}

input {
  border: none;
  border-bottom: 5px solid limegreen;
  border-radius: 25%;
  text-align: center;
  background-color: rgba(255, 255, 255, 20%);
  font-size: 2em;
  font-family: cursive;
  color: #55e955;
}

input:focus {
  background-color: rgba(255, 255, 255, 40%);
}

.resultado {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 2em;
  color: #8db8ab;
}

.resultado .enfasis {
  color: #55e955;
}
